@import "./utilities/reset.css";
@import "./utilities/typography.css";
@import "./components/button.css";
@import "./components/eyebrow.css";
@import "./pages/header.css";
@import "./pages/hero.css";
@import "./pages/about.css";
@import "./pages/services.css";
@import "./pages/work.css";
@import "./pages/footer.css";

.header,
.main,
.footer {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}
