.about__wrapper {
	padding: 8rem 7rem;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2rem;
}

.about__left {
	align-self: center;

	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.about__right {
	position: relative;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	column-gap: 1rem;
}

.about__badge {
	max-width: 7.5rem;
	position: absolute;
	top: -3.75rem;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.about__img {
	max-width: 17.5rem;
}

.about__img:nth-child(3) {
	padding-top: 5rem;
}

.metrics {
	padding: 0 7rem 6rem 7rem;

	display: flex;
	justify-content: space-between;
}

.metrics__item {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.metrics__h6 {
	text-transform: uppercase;
	max-width: 8.75rem;
}

@media screen and (max-width: 48em) {
	.about__wrapper {
		padding: 6rem 2.5rem;

		grid-template-columns: 1fr;
	}

	.about__left {
		padding-bottom: 7rem;
	}

	.metrics {
		padding: 0 2.5rem 6rem 2.5rem;
	}

	.metrics__item {
		flex-direction: column;
	}
}

@media screen and (max-width: 23em) {
	.about__wrapper {
		padding: 2.5rem 1.25rem;
	}

	.about__left {
		padding-bottom: 5rem;
	}

	.metrics {
		flex-direction: column;
	}

	.metrics__item {
		flex-direction: row;
	}
}
