.hero__text {
	text-align: center;
	padding: 5rem 0;
}

.hero__h1 {
	padding-bottom: 1.5rem;
}

.hero__p {
	max-width: 50rem;
	margin: 0 auto;
}

.hero__img {
	max-width: 90rem;
}

.hero__creative {
	position: relative;
}

.hero__cta {
	width: 7.5rem;
	position: absolute;
	left: 7rem;
	top: -3.75rem;
}

.awards {
	padding: 1.5rem 7rem;
	background-color: var(--neutral-900);

	display: flex;
	align-items: center;
}

.awards__left {
	display: flex;
	align-items: center;
	gap: 1.25rem;
}

.awards__title {
	color: var(--white);
	font-weight: 400;
	font-style: italic;
	transform: rotate(180deg);
	writing-mode: vertical-lr;
	text-orientation: mixed;
	opacity: 0.5;
}

.awards__line {
	width: 4rem;
	height: 1px;
	background-color: var(--white);
	opacity: 0.5;
}

.awards__item {
	display: flex;
	align-items: center;
	gap: 0.75rem;
}

.awards__wrapper {
	width: 100%;
	padding: 0 1.25rem;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: max-content;
	column-gap: 4rem;
}

.awards__image {
	width: 5rem;
}

@media screen and (max-width: 76em) {
	.awards {
		padding: 1.5rem 3.75rem;
	}
}

@media screen and (max-width: 63em) {
	.awards__wrapper {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2.5rem;
		row-gap: 2rem;
	}
}

@media screen and (max-width: 37em) {
	.awards {
		align-items: flex-start;
	}

	.awards__wrapper {
		grid-template-columns: 1fr;
		row-gap: 1.5rem;
	}
}

@media screen and (max-width: 48em) {
	.hero__text {
		padding: 5rem 2.5rem;
	}

	.hero__cta {
		left: 0;
		right: 0;

		margin-left: auto;
		margin-right: auto;
	}

	.awards {
		padding: 1.5rem 2.5rem;
	}
}

@media screen and (max-width: 23em) {
	.hero__text {
		padding: 5rem 1.25rem;
	}

	.awards {
		padding: 1.5rem 1.25rem;
	}
}
