.services {
	padding: 7rem;
}

.services__h2 {
	max-width: 50rem;
	padding-bottom: 5rem;
	padding-top: 1.5rem;
}

.services__h3 {
	padding-bottom: 1rem;
}

.services__card {
	padding: 2.5rem;
	border: 1px solid var(--primary-50);
}

.services__icon {
	max-width: 3rem;
	padding-bottom: 5rem;
}

.services__wrapper {
	display: flex;
	gap: 2rem;
}

@media screen and (max-width: 76em) {
	.services {
		padding: 3.75rem;
	}
}

@media screen and (max-width: 66em) {
	.services__wrapper {
		flex-direction: column;
	}
}

@media screen and (max-width: 48em) {
	.services {
		padding: 6rem 2.5rem;
	}
}

@media screen and (max-width: 23em) {
	.services {
		padding: 3rem 1.25rem;
	}
}
