.work {
	padding: 7rem;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2rem;
}

.work__h2 {
	padding-top: 1.5rem;
	padding-bottom: 6rem;
}

.work__item-left {
	padding-bottom: 6rem;
}

.work__img-left {
	max-width: 37rem;
	padding-bottom: 1.5rem;
}

.work__cta {
	text-transform: uppercase;
}

.work__h3 {
	padding-bottom: 1rem;
}

.work__item-right:nth-child(1) {
	padding-bottom: 5rem;
}

.work__img-right {
	max-width: 30rem;
	padding-bottom: 1.5rem;
}

@media screen and (max-width: 48em) {
	.work {
		padding: 6rem 2.5rem;
		grid-template-columns: 1fr;
	}

	.work__img-left,
	.work__img-right {
		max-width: 100%;
	}
}

@media screen and (max-width: 23em) {
	.work {
		padding: 3rem 1.25rem;
	}
}
